---
layout: default
title: Brayden Riesberg's Homepage
---

{% capture my_include %}{% include index-intro.md %}{% endcapture %}
{{ my_include | markdownify }}

{% assign projects = site.posts | where: "type", "project" %}

<h2>Recent Projects</h2>

<ul class="post-list">
  {% for post in projects limit:5 %}
    {% include post-li.html %}
  {% endfor %}
</ul>

{% assign blogs = site.posts | where: "type", "blog" %}

<h2>Recent Blog Posts</h2>

<ul class="post-list">
  {% for post in blogs limit:5 %}
    {% include post-li.html %}
  {% endfor %}
</ul>