$font-stack: sans-serif, Arial;
$primary-color:  #3b3a30;
$secondary-color: #967969;
$background-color: #F4F3EF;

// HEX: #eaece5

// HEX: #b2c2bf

// HEX: #c0ded9

// HEX: #3b3a30

// HEX: #625750

// HEX: #563f46

html {
  font-size: 16px;
}

body {
    font-family: $font-stack;
    line-height: 1.5;
    color: $primary-color;
    background-color: $background-color;
    margin: 0;
}

a {
    // text-decoration: none;
    color: $primary-color;
}

h1 {
    margin: 0.5rem auto;
}

h2 {
    margin-bottom: 0.5rem;
}

.img-container {
    max-width: 100%;
    // margin: 2rem auto;
    text-align: center;
}

.img-container img {
    width: 30%;
}

@media (max-width: 600px) {
  .img-container img {
    width: 60%;
}
}

.content {
    margin: 0 auto;
    max-width: 80vw;
}

header {
    margin: 0 auto;
    max-width: 80vw;

}

header h1 {
    margin: 1rem auto;
    font-size: 3rem;
}

header a:hover {  color: inherit;  }

header a {
    text-decoration: none;
}


nav {
    font-size: 1.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 32px

}


nav a:hover {  color: $secondary-color;  }

.current {
    font-weight: bold;
    color: $secondary-color;
}


.post-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;

}

.post-list div {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    font-size: 1.2rem;
}
.post-list p {
    margin: 0 0px;
    // width: 20ch;
}

