$font-stack: sans-serif, Arial;
$primary-color:  #3b3a30;
$secondary-color: #967969;
$background-color: #F4F3EF;

$content-width: 80vw;

// HEX: #eaece5

// HEX: #b2c2bf

// HEX: #c0ded9

// HEX: #3b3a30

// HEX: #625750

// HEX: #563f46

html {
  font-size: 16px;
}

body {
    font-family: $font-stack;
    line-height: 1.5;
    color: $primary-color;
    background-color: $background-color;
    margin: 0;
}

a {
    // text-decoration: none;
    color: $primary-color;
}

a:hover {  color: $secondary-color;  }


h1 {
    margin: 0.5rem auto;
}

h2 {
    margin-bottom: 0.5rem;
}

.img-container {
    max-width: 100%;
    // margin: 2rem auto;
    text-align: center;
}

.img-container img {
    width: 30%;
}

@media (max-width: 600px) {
  .img-container img {
    width: 60%;
}
}

.content {
    margin: 0 auto;
    max-width: $content-width;
}

.top-header {
    margin: 0.5rem auto;
    max-width: $content-width;
    display: flex;
    align-items: flex-start;
    column-gap: 2rem;

}

.top-header + hr {
    max-width: $content-width;
}

.top-header h1 {
    line-height: 1;
    color: $primary-color;
    margin: 0 auto;
    font-size: 3rem;
}



.top-header a {
    text-decoration: none;
}


.section-nav ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: left;
    margin: 0;
    font-size: 1.75rem;

    padding-left: 0;
    gap: 1rem;
    row-gap: 0.5rem;
}


.social-nav ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    row-gap: 0.5rem;
    padding-left: 0;
    margin: 0;
    list-style: none;
    font-size: 1.25rem;
    line-height: 1;
}


@media screen and (max-width: 680px) {
    .section-nav ul {
        font-size: 1rem;
        gap: 0.5rem;
        flex-wrap: nowrap;
    }

    .social-nav ul {
        font-size: 1rem;
        gap: 0.5rem;
    }


    .top-header h1 {
        font-size: 2rem;
    }


    // .top-header {
    //     flex-direction: column;
    // }
}


nav a:hover {  color: $secondary-color;  }

.current {
    font-weight: bold;
    color: $secondary-color;
}


.post-list {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    row-gap: 1rem;

}

.post-list li {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    font-size: 1.2rem;
}
.post-list p {
    margin: 0 0;
}

.post-list-date {
    flex-shrink: 0;
    min-width: 13ch;
}

.post-list a {
    flex-shrink: 0;
    min-width: 13ch;
}

@media screen and (max-width: 680px) {
    .post-list li {
        font-size: 0.75rem;
    }




}

